body{
    font-family: 'Overpass', sans-serif;
}

.LoginBar{
    
    background-color: #000000;
    width: 100%;
}
.LogoutBar{
    
    background-color: #F8BA37;
    width: 100%;
}

.LBitem{
    padding: 13px;
    text-align: center;
    color: white;
}
.NavBar{
    
    width: 100%;
    padding: 0px;
    border-top: 2px groove;
    border-bottom: 2px groove;
    border-color: darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.NBitem{
    text-align: left;
}
.imageparagraph{
    
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
  
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 1fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    ". content1 content2 ."
	". content3 content4 ."
    "footer footer footer footer";
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}

nav {
  
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  height: 100%;
}

main {
  background: #84ffff;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  width: auto;
  text-align: center;

}

#sidebar {
  background: #18ffff;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content1 {
  background: #6fffd2;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content2 {
  background: #64ffda;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  background: #73ffba;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#content4 {
  background: #73ffba;
  grid-area: content4;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

footer {
  background: #333333;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
	  "content4"
      "footer";
  }
}


#pi4{
    width: 90%;
    height:auto%;
}
#pi5{
    width: 90%;
    height:auto%;
}
#pi6{
    width: 90%;
    height:auto%;
}
#separator{
    color: white;
}

#p3{
    
    background-color: darkgrey;
    text-align: center;
}

#pi3{
    width: 90%;
    height: auto;
    padding: 10%;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    padding: 12px 16px;
    z-index: 1;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.itemimage{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.wrapper{
    text-align: center;
    
}

.index-wrapper-mobile{
    text-align: center;
    
}

.wrapper-mobile{
    text-align: center;
    
}

.index-wrapper{
    text-align: left;
    
}

.logo{
    text-align: center;
    
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #34ebab; 
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
    color: orange;
}

#loglink:link, #loglink:visited {
    color:white;
    text-decoration: none;
}

/* Inputs (log in, add item etc)*/
  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

  input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=file], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*Submit buttons*/
input[type=submit] {
  width: 100%;
  background-color: #F8BA37;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button {
  width: 100%;
  background-color: #F8BA37;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #e69b00;
}

button:hover {
  background-color: #e69b00;
}

