body{
    font-family: 'Overpass', sans-serif;
}

.LoginBar{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #F8BA37;
    width: 100%;
}
.LogoutBar{
    display: inline-grid;
    grid-template-columns: auto auto;
    background-color: #F8BA37;
    width: 100%;
}

.LBitem{
    padding: 13px;
    text-align: center;
    color: white;
}
.NavBar{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    padding: 0px;
    border-top: 2px groove;
    border-bottom: 2px groove;
    border-color: darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.NBitem{
    text-align: center;
}
.imageparagraph{
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: 5% auto;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
}
#p1{
    grid-template-columns: 20% 80%;
}
#p2{
    grid-template-columns: 80% 20%;
}
#logo{
padding: 10px;
    height: 15%;
}
.text{
    width: auto;
    height: auto;
    padding: 5px;
}
#pi1{
    width: 90%;
    height:auto;
}

#separator{
    color: white;
}
.banner{
    text-align: center;
}

#ban1{
     width:100%;
    height:auto;
}
#p3{
    grid-template-columns: 20% 80%;
    background-color: darkgrey;
    text-align: center;
}

#pi3{
    width: 90%;
    height: auto;
    padding: 10%;
}

#pi2{
    width: 90%;
    height:auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    padding: 12px 16px;
    z-index: 1;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.itemimage{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.wrapper{
    text-align: center;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
}

.index-wrapper-mobile{
    text-align: center;
    display: inline-grid;
grid-template-columns: repeat(auto, auto)     !important ;
}

.wrapper-mobile{
    text-align: center;
    display: inline-grid;
    grid-template-columns: repeat(auto, auto);
}

.index-wrapper{
    text-align: left;
    display: inline-grid;
    grid-template-columns: repeat(1, 1fr);
}

.logo{
    text-align: center;
    
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #34ebab; 
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
    color: orange;
}

#loglink:link, #loglink:visited {
    color:white;
    text-decoration: none;
}